.button{
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
	padding: 3px;
	cursor: pointer;

	transition: all .2s ease-in;
}

.button:hover{
	border-radius: 7.5%;
	background: rgb(105, 123, 215);
}

.button:active{
	transition: all .075s linear;
	background: rgb(175, 190, 255);
	border-radius: 50%;
}